/* 
.userdiv{
    width: 25%;
    box-sizing: border-box;
    font-size: 14px;
}
.homediv{
    width: 75%;
    box-sizing: border-box;
    font-size: 14px;
} */



.center_fgp {
    display: flex;
    position: relative;
    transition: all 0.3s ease;
    /* background-color: #f8f9fa; */
  }
  
  .userdiv {
    width: 0; /* Initially collapsed */
    opacity: 0; /* Initially hidden */
    box-sizing: border-box;
    font-size: 14px;
    transition: width 1s ease, opacity 1s ease; 
    overflow: hidden; /* Hide content when sidebar is collapsed */
  }



  .homediv {
    width: 100%; /* Full width when sidebar is closed */
    box-sizing: border-box;
    font-size: 14px;
    flex: 1;
    transition: width 0.5s ease-in-out; 
  }













  
  .userdiv.open {
    width: 25%; /* When open, set the width */
    opacity: 1; /* Make it visible */
  }
    
  .homediv.expanded {
    width: 75%; /* Reduced width when sidebar is open */
  }
  


  /* Button styling */
  .toggle-btn {
    /* position: absolute;
    top: 20px;
    left: 20px; */
    padding: 2px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60px;
    
    /* z-index: 10;  */
  }
  
  .toggle-btn:hover {
    background-color: #0056b3;
  }
  

    
  /* Custom scrollbar */
.container_fgp::-webkit-scrollbar {
  width: 8px;
}

.container_fgp::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.container_fgp::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.container_fgp::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@media screen and (max-width:1770px){
  .userdiv.open {
    width: 26%; /* When open, set the width */
    opacity: 1; /* Make it visible */
  }
    
  .homediv.expanded {
    width: 74%; /* Reduced width when sidebar is open */
  }
}
@media screen and (max-width:1700px){
  .userdiv.open {
    width: 28% ; /* When open, set the width */
    opacity: 1; /* Make it visible */
  }
    
  .homediv.expanded {
    width: 72%; /* Reduced width when sidebar is open */
  }
}
@media screen and (max-width:1535px){
  .userdiv.open {
    width: 30%; /* When open, set the width */
    opacity: 1; /* Make it visible */
  }
    
  .homediv.expanded {
    width: 70%; /* Reduced width when sidebar is open */
  }
}
@media screen and (max-width:1450px){
  .userdiv.open {
    width: 34%; /* When open, set the width */
    opacity: 1; /* Make it visible */
  }
    
  .homediv.expanded {
    width: 66%; /* Reduced width when sidebar is open */
  }
}
@media screen and (max-width:1320px){
  .userdiv.open {
    width: 36%; /* When open, set the width */
    opacity: 1; /* Make it visible */
  }
    
  .homediv.expanded {
    width: 64%; /* Reduced width when sidebar is open */
  }
}
@media screen and (max-width:1250px){
  .userdiv.open {
    width: 38%; /* When open, set the width */
    opacity: 1; /* Make it visible */
  }
    
  .homediv.expanded {
    width: 62%; /* Reduced width when sidebar is open */
  }
}