.d_flex_paginate_grid{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.jobgrid_fgp  .MuiTablePagination-selectLabel, .MuiTablePagination-displayedRows {
    margin: 0px !important;
}

.boxMinHeight{
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 4px;
}