.savennext_container {
    box-sizing: border-box;
    width: 100%;
}

.header_title_fgp {
    background-color: #989898;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px 20px;
}

.job-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Filters Container with Grid Layout */
.filters-container_sn {
    /* display: grid;
    gap: 16px;
    width: 100%;
    margin-bottom: 20px;
    align-items: center; */
    display: grid;
    /* gap: 16px; */
    gap: 5px;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(113px, 1fr)) !important;
    /* This will adapt to screen size */
}


/* Buttons - Save, Save & New, Save & Print */
.fs_sn_fgp {
    font-size: 16px !important;
    padding: 1px !important;
}


/* Individual Filter Item Styling */
.filter-item input,
.filter-item select {
    width: 100%;
    padding: 8px 5px;
    font-size: 13px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    /* Optional for subtle shadow */
}

.filter-item input:focus,
.filter-item select:focus {
    outline: none;
    /* border-color: #007bff;  */
    border-color: #7367F0;
    /* Highlight color on focus */
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.m_x_inp_snv {
    margin: 0px 3px;
}

/* Buttons Styling */
.filter-item button {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.filter-item button:hover {
    background-color: #218838;
}

/* Table Styling */
.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.table th {
    background-color: #f8f9fa;
}

.table td {
    background-color: #fff;
}

.table td .MuiSvgIcon-root {
    cursor: pointer;
}



/* Large Screen View - Full-length View */
@media (min-width: 1024px) {
    .filters-container_sn {
        grid-template-columns: repeat(7, 1fr);
        /* 7 columns for large screens */
    }

    /* .filters-container2 {
        grid-template-columns: repeat(7, 1fr); 
    } */
}

/* Tablet View - 2 Rows, 3 Columns */
@media (max-width: 1023px) and (min-width: 700px) {
    .filters-container_sn {
        grid-template-columns: repeat(3, 1fr);
        /* 3 columns for tablet devices */
    }

    /* .filters-container2 {
        grid-template-columns: repeat(5, 1fr); 
    } */
}

/* Smaller Devices - 3 Rows, 2 Columns */
@media (max-width: 699px) {
    .filters-container_sn {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns per row for smaller devices */
    }

    /* .filters-container2 {
        grid-template-columns: repeat(2, 1fr); 
    } */
}

/* Mobile - Single Column View */
@media (max-width: 499px) {
    .filters-container_sn {
        grid-template-columns: 1fr;
        /* Single column for mobile */
    }

    /* .filters-container2 {
        grid-template-columns: 1fr;
    } */
}



.minWGwt {
    min-width: 120px !important;
}

.filter_grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 16px;
}

.applyBtnRec {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 5px;
}


.filters-container2 {
    display: grid;
    /* gap: 16px; */
    gap: 5px;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    /* This will adapt to screen size */
}

.filters-container3_sn {
    display: grid;
    gap: 16px;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    /* This will adapt to screen size */
}

.addIcon_svn {
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    margin-left: 2px;
    cursor: pointer;
}

.addIcon_svn:hover {
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    margin-left: 2px;
    cursor: pointer;
    background-color: #BDBDBD;
}

/* Tablet View - 2 Rows, 3 Columns */
@media (max-width: 1023px) and (min-width: 700px) {
    .filters-container2 {
        grid-template-columns: repeat(3, 1fr);
        /* 3 columns for tablet */
    }

    .filters-container3_sn {
        grid-template-columns: repeat(2, 1fr);
        /* 3 columns for tablet */
    }
}

/* Smaller Devices - 3 Rows, 2 Columns */
@media (max-width: 699px) {
    .filters-container2 {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns per row for smaller devices */
    }

    .filters-container3_sn {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns per row for smaller devices */
    }
}

/* Mobile - Single Column View */
@media (max-width: 499px) {
    .filters-container2 {
        grid-template-columns: 1fr;
        /* Single column for mobile */
        width: 100%;
    }

    .filters-container3_sn {
        grid-template-columns: repeat(1, 1fr);
        /* 2 columns per row for smaller devices */
    }
}


.onfocus_snv:focus {
    outline: none;
    /* border: 1px solid #007bff !important; */
    border: 1px solid #7367F0 !important;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}


.remark_area_Snv {
    border: 1px solid #e8e8e8;
}

.remark_area_Snv:focus {
    outline: none;
    border: 1px solid #007bff !important;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.textareadRemark_snv {
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    padding: 4px;
}

.textareadRemark_snv:focus {
    outline: none;
    /* border: 1px solid #007bff !important; */
    border: 1px solid #7367F0 !important;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}



.parent-container {
    position: relative;
}

.snackbar-custom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    background-color: #4caf50;
    color: #fff;
    padding: 8px;
    font-size: 14px;
    text-align: center;
}



/* i button pop up field and label in receive time */
.filter_grid2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.categoryNewOrder:focus {
    border-color: #7367F0 !important;
}

.filter_item_i {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    /* Ensures each field takes up a full row */
}

.filter_label_i {
    font-size: 0.9rem;
    color: #797979;
    width: 120px;
    /* Fixed width for the label */
    text-align: right;
    /* Aligns the text of the label to the right */
    padding-right: 10px;
    /* Adds space between label and input */
}

.filter_input_i {
    flex-grow: 1;
    width: 200px;
    /* Fixed width for the input */
    padding: 5px;
    font-size: 0.8rem;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

@media (min-width: 768px) {
    .filter_item_i {
        width: 48%;
        /* Two columns on larger screens */
    }
}



.tableCus th {
    color: #6c757d !important;
    /* Grey color */
    font-weight: normal !important;
    /* Remove bold */
}

.css-1sx06gy-MuiAvatarGroup-root .MuiAvatar-root:first-child {
    background-color: orange;

    &:hover {
        scale: 1.1;
        transition: scale 0.3s ease-in-out;
        cursor: pointer;
    }
}