body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.text_color{
  color: grey !important;
}
.bg_color_all{
  background-color: #F8F9FA !important;
}



.fs_fgp_select {
  padding: 10px; /* Padding for text */
  padding-right: 30px; /* Space for the arrow */
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  background-color: white;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6"%3E%3Cpath d="M5 6L0 0h10L5 6z" fill="%23333"/%3E%3C/svg%3E'); /* Default arrow */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Adjust arrow position */
  appearance: none; /* Hide default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}


.css-w9jci7-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-w9jci7-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate{
  color: #6B62DC !important;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  background-color: #CCCCCC;
}

/* Scrollbar Width & Background */
::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

/* Scrollbar Thumb with Gradient */
::-webkit-scrollbar-thumb {
  background-color: #FFF;
  background-image: -webkit-linear-gradient(90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 25%,
      transparent 50%,
      rgba(0, 0, 0, 1) 75%,
      transparent 100%);
  border-radius: 5px;
  /* optional rounded thumb */
  border: 1px solid #999;
  /* optional border */
}

/* Optional: Hover Effect */
::-webkit-scrollbar-thumb:hover {
  background-color: #e0e0e0;
  background-image: -webkit-linear-gradient(90deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.8) 25%,
      transparent 50%,
      rgba(0, 0, 0, 0.8) 75%,
      transparent 100%);
}